/*Fixing page alignment*/
#cal-main .row {
    margin-left: 0px;
    margin-right: 0px;
}

/*Horizontal navbar*/
#unifile-uf {
    padding-right: 10px;
    width: 70px;
}

.nav {
    background-color: rgb(60,60,60);
}

.nav-link {
    font-size:28px;
    color: rgb(230, 230, 230);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color:rgb(230, 230, 230);
}

.nav-item:hover {
    color: white;
    background-color: rgb(148,0,211);
}

/*Profile and settings dropdown trigger*/
.profile-trigger {
    float: right;
    font-size: 50px;
    cursor: pointer;
}

/*Sidebar*/
#food-sidebar {
    padding-top: 1rem;
    background-color: rgb(80, 80, 80);
}

#food-sidebar h2 {
    color: white;
}
#food-sidebar h3 {
    color: white;
}

#food-search {
    border-radius: 25px;
    padding-left: 8px;
    margin-top: 0.7rem;
    border: 0.5px solid black;
    outline: 0;
}

#food-categories {
    margin-top: 5px;
    border-radius: 25px;
    padding-left: 6px;
    max-width: 100%;
    outline: 0;
}