@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700 900;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Light.ttf);
  font-weight: 100 300;
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-Bold.ttf);
  font-weight: 700 900;
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-Light.ttf);
  font-weight: 100 300;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --clr-primary: #0fa50f;
  --clr-primary-dark: #0b860b;
  --clr-dark: #181818;
  --clr-grey: #d3d1d1;
  --clr-light: #ffffff;

  --ff-title: 'Prompt', sans-serif;
  --ff-body: 'Rubik', sans-serif;

  --fs-header: 4.5rem;
  --fs-sub-heading: 3rem;

  --fs-900: 2.25rem;
  --fs-800: 1.75rem;
  --fs-600: 1.375rem;
  --fs-400: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--ff-body);
  font-weight: 400;
  color: var(--clr-dark);

  scroll-behavior: smooth;
}

img {
  display: block;
}

.color-primary {
  color: var(--clr-primary);
}

.margin-0 {
  margin: 0;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-height: 950px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-height: 800px) {
  html {
    font-size: 11px;
  }
}
