/*root, reset and utility*/
:root {
  --clr-primary: #0fa50f;
  --clr-primary-dark: #0b860b;
  --clr-dark: #000000;
  --clr-light: #ffffff;

  --ff-title: 'Prompt', sans-serif;
  --ff-title-light: 'Prompt-Light', sans-serif;
  --ff-body: 'Rubik', sans-serif;

  --fs-header: 5rem;
  --fs-sub-heading: 3rem;

  --fs-900: 2.25rem;
  --fs-800: 1.75rem;
  --fs-600: 1.375rem;
  --fs-400: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--ff-body);
  color: var(--clr-dark);
  line-height: 1.6;
}

.color-primary {
  color: var(--clr-primary);
}

/* navigation */
.landing-nav__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.landing-nav__item {
  font-size: var(--fs-600);
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.landing-nav__signin {
  display: none;
}

/* header */
.landing-header {
  display: flex;
  flex-direction: column;
}

.landing-title {
  font-family: var(--ff-title);
  font-size: var(--fs-header);
  text-align: center;
}

.landing-seperator {
  border: 1.5px solid var(--clr-primary);
  margin: 0 1rem;
}

.intro {
  padding: 0.75rem;
}

.intro-header {
  font-size: var(--fs-sub-heading);
  font-weight: bold;
  text-align: center;
}

.intro-body {
  font-size: var(--fs-900);
  font-weight: 200;
  text-align: center;
}

.download-icons-wrapper {
  padding: 2rem 3rem;
}

.download-icons-wrapper img {
  max-width: 100%;
}

/* feature tabs */
.feature-tab {
  padding: 0.5rem;
}

.feature-tab__button {
  width: 100%;
  text-align: left;
  font-size: var(--fs-900);
  padding: 0.6rem 1.12rem;
  font-weight: 300;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  cursor: pointer;
}

.feature-tab__content {
  padding: 0 0.5rem;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease max-height;
}

.feature-tab__header {
  font-family: var(--ff-title-light);
  font-weight: 700;
  font-size: var(--fs-800);
  padding: 0.6rem 0;
  line-height: 2rem;
}

.feature-tab__body {
  font-family: var(--ff-body);
  font-weight: 100;
  font-size: var(--fs-600);
}

.feature-tab__body p {
  padding: 0.5rem 0;
}

.feature-tab__button--active {
  background-color: var(--clr-primary-dark);
}

.feature-tab__content--active {
  max-height: 500px;
  border: 2px solid var(--clr-primary-dark);
}

/* recipe showcase */
.section-title {
  font-family: var(--ff-title);
  font-size: var(--fs-900);
  text-align: center;
  padding: 2.5rem 0 1rem 0;
}

.recipe-showcase__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.recipe-showcase__button {
  font-size: var(--fs-800);
  font-family: var(--ff-body);
  font-weight: 500;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid var(--clr-primary);
  background: transparent;
  cursor: pointer;
}

.recipe-showcase--active {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  transition: 0.25s ease background-color;
}

/* pricing */
.pricing {
  display: grid;
  justify-items: center;
}

.pricing__card {
  position: relative;
  width: 90%;
}

.pricing__card__header {
  height: fit-content;
  text-align: center;
}

.pricing__card__color {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: -1;
}
