/*Importing Rubik Fonts*/
@font-face {
    font-family: 'Rubik-Light';
    src: url(../fonts/Rubik-Light.ttf)
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url(../fonts/Rubik-Regular.ttf)
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: url(../fonts/Rubik-SemiBold.ttf)
}

html, body {
    height: 100%;
}


/*Fixing page alignment*/
#cal-main .row {
    margin-left: 0px;
    margin-right: 0px;
}

/*Horizontal navbar*/
#unifile-uf {
    padding-right: 10px;
    width: 70px;
}

.nav {
    background-color: rgb(60,60,60);
}

.nav-link {
    font-size:28px;
    color: rgb(230, 230, 230);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color:rgb(230, 230, 230);
}

.nav-item:hover {
    color: white;
    background-color: rgb(148,0,211);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgb(148,0,211);
    border-radius: 0;
    height: 100%;
}
/*Profile and settings dropdown trigger*/
.profile-trigger {
    float: right;
    font-size: 50px;
    cursor: pointer;
}

/*Sidebar*/
#food-sidebar-wrapper {
    height: 100%;
}

#food-sidebar-content {
    width: 100%;
    background-color: rgb(90, 90, 90);
    border-left: 2px solid rgb(60,60,60);
    height: 100%;
    padding: 1rem 1rem 50px 1rem;
    background-color: rgb(90, 90, 90);
}

#food-sidebar-content h2 {
    font-family: Rubik-Regular;
    color: white;
}

#food-sidebar-content p {
    font-family: Rubik-Light;
    color: white;
    font-size: 15px;
}

#food-sidebar-content label {
    font-size: 18px;
    font-family: Rubik-Light;
    color: white
}

#food-sidebar-content input{
    border-radius: 20px;
    padding-left: 10px;
    outline: 0;
    max-width: 100%;
}

#food-sidebar-content button {
    font-weight: bold;
    background-color: rgb(148,0,211);
    color: white;
    border: 2px solid rgb(148,0,211);
    border-radius:25px;
    padding: 10px 20px 10px 20px;
    position: relative;
    float: left;
}


/*Food-specific navbar*/
#food-nav {
    background-color: rgb(148,0,211);
    width: 100%;
    padding: 1rem 0;
}

#results-found {
    padding-left: 1rem;
    font-size: 20px;
    font-family: Rubik-Regular;
    color: white;
}

#recipe-sort {
    text-align: right;
    padding-right: 1rem;
    font-size: 20px;
    font-family: Rubik-Regular;
    color: white;
}

.nogap {
    padding: 0;
}

/*Recipe results space*/
.recipe-results {
    padding-left: 1rem;
}

.card {
    border: 3px solid rgba(148,0,211, 0.8);
    margin: 3rem 2rem 2rem 1rem;
    background-color: rgba(249, 248, 249, 0.43);
    box-shadow: 10px 10px 5px lightgray;
    border-radius: 40px;
    overflow: hidden;
}

.recipe-img {
    width:200px;
    height:200px;
}

.recipe-img-space {
    padding: 0;
}