/*Importing Rubik Fonts*/
@font-face {
    font-family: 'Rubik-Light';
    src: url(../fonts/Rubik-Light.ttf)
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url(../fonts/Rubik-Regular.ttf)
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: url(../fonts/Rubik-SemiBold.ttf)
}

html, body {
    height: 100vh;
}

/*Fixing page alignment*/
#cal-main .row {
    margin-left: 0px;
    margin-right: 0px;
}

/*Horizontal navbar*/
#unifile-uf {
    padding-right: 10px;
    width: 70px;
}

.nav {
    background-color: rgb(60,60,60);
}

.nav-link {
    font-size:28px;
    color: rgb(230, 230, 230);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color:rgb(230, 230, 230);
}

.nav-item:hover {
    color: white;
    background-color: rgb(148,0,211);
}

/*Profile and settings dropdown trigger*/
.profile-trigger {
    float: right;
    font-size: 50px;
    cursor: pointer;
}

/*Sidebar*/
#food-sidebar {
    padding-top: 1rem;
    background-color: rgb(90, 90, 90);
    border-left: 1px solid rgb(60,60,60); 
    height: 100%;
}

#food-sidebar h2 {
    font-family: Rubik-Regular;
    color: white;
}

#food-sidebar p {
    font-family: Rubik-Light;
    color: white;
    font-size: 15px;
}

#search-form label {
    font-size: 18px;
    font-family: Rubik-Light;
    color: white
}

#search-form input{
    border-radius: 20px;
    padding-left: 10px;
    outline: 0;
}

#search-form button {
    font-weight: bold;
    background-color: rgb(148,0,211);
    color: white;
    border: 2px solid rgb(148,0,211);
    border-radius:25px;
    padding: 10px 20px 10px 20px;
    position: relative;
    float: right;
    right: 20px;
    bottom: 10px;
}