main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 'results filters';
}

/* results */
.results {
  display: flex;
  flex-flow: wrap row;
  margin: 0 2rem 2rem 0;
  grid-area: results;
  justify-content: center;
  gap: 5rem;
}

.results-card {
  box-shadow: -2px 2px 24px rgba(0, 0, 0, 0.25);
  width: min-content;
  height: min-content;
  padding-bottom: 0.6rem;
  animation: slideUp 1s;
}

.results-card hr {
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.2);
}

.results-card__text {
  margin: 0 1rem;
}

.results-card__title,
.results-card__type {
  text-align: center;
  font-size: var(--fs-600);
}

.results-card__title {
  font-weight: 500;
}

.results-card__type {
  font-weight: 300;
  font-style: italic;
}

.results-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--fs-600);
  font-weight: 300;
}

.results-card__action {
  margin: 0.2rem 0;
}

.results-card__action img:hover {
  filter: invert(33%) sepia(99%) saturate(1494%) hue-rotate(96deg)
    brightness(102%) contrast(88%);
}

.results-card__action img {
  height: 2rem;
  display: inline;
  vertical-align: middle;
  margin-right: 0.5rem;
  transition: filter 0.15s;
}

.recipe-card__tooltip {
  height: var(--fs-600);
  margin: 0.5rem;
  font-family: var(--ff-body);
  font-size: var(--fs-600);
  font-weight: 300;
  text-align: center;
}

.recipe-card__tooltip > p {
  font-size: var(--fs-600);
  opacity: 0;
  transition: opacity 0.3s;
}

/* filters */
.filters {
  grid-area: filters;
  box-shadow: -2px 2px 24px rgba(0, 0, 0, 0.25);
  background: white;
  margin: 0 2rem 2rem 0;
  color: black;
  height: fit-content;
}

.filters-header {
  font-size: var(--fs-800);
  font-family: var(--ff-body);
  font-weight: 600;
  margin: 1rem 0;
}

.filters hr {
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.2);
}

.filters-subheader {
  font-size: var(--fs-600);
  font-weight: 400;
}

.filters-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: var(--fs-600);
  cursor: pointer;
  border: none;
  background: none;
  width: 95%;
}

.filters-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0 0.5rem;
  font-size: var(--fs-600);
  font-family: var(--ff-body);
  font-weight: 300;
}

.filters-content > input[type='radio'],
.filters-content > label {
  margin: 1rem 0.2rem;
  vertical-align: middle;
  cursor: pointer;
}
