body {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: min-content 4fr auto;
  grid-template-areas:
    'site-nav header header'
    'site-nav results-sidebar main';
}

.results-sidebar {
  grid-area: results-sidebar;
}
