
/*Unifile Image in Navbar*/
#header-image {
    height: 62px;
}

/*Other navbar CSS*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }

.nav-link {
    font-size:28px;
    color:grey
}

.nav-item {
    overflow: hidden;
}

.nav-link:hover {
    color:white;
}

.nav-item:hover {
    background-color: rgb(148,0,211)
}

/*Aligns welcome text centrally*/
.welcome {
    text-align: center;
}

/*Login button CSS*/
.login-trigger {
    font-weight: bold;
    color: white;
    background-color: rgb(148,0,211);
    border-radius:25px;
    padding: 10px 20px 10px 20px;
}

.login-trigger:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(118, 0, 168);
}

h4 {
    font-weight: bold;
    color:black;
  }
  .close {
    color: black;
    transform: scale(1.2)
  }
  .modal-content {
    font-weight: bold;
  }
  .form-control {
    margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
  }
  .username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
  }
  .form-control::-webkit-input-placeholder {
    color: #eee;  
  }
  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }
  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid rgb(148,0,211);
    color: rgb(148,0,211);
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .login:hover {
    background: rgb(148,0,211);
    color: #fff;
  }

/*General headings*/
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}